@using Webdiyer.WebControls.Mvc
@model PagedList<Enterprises.CMS.Roles.Dto.RoleListDto>

<div class="span12">
    <div class="widget-box">
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="width: 20%">名称</th>
                        <th style="width: 20%">描述</th>
                        <th style="width: 10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Name</td>
                            <td>
                                @item.DisplayName
                            </td>
                            <td style="text-align: center">
                                <a href="javascript:void(0);" url="@Href("~/admin/Role/edit/")@item.Id" class="btn btn-primary btn-mini editflag">修改</a>
                                <a href="javascript:void(0);" url="~/admin/Role/Delete/@item.Id" class="btn btn-danger btn-mini deleteflag">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="badoopager" class="span12" style="margin: 0; padding: 0;color: #666">
    <div style="float:left; ">当前显示第 @Model.CurrentPageIndex 页，共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录</div>
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "id", CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>", DisabledPagerItemTemplate = "<span class=\"disabled\">{0}</span>", Id = "pager" }, new MvcAjaxOptions { UpdateTargetId = "AjaxPagerPangel", HttpMethod = "Post", DataFormId = "searchForm" })
</div>


