@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<Enterprises.CMS.NewsType.Dto.NewsTypeListDto>

<div class="span12">
    <div class="widget-box">
        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                <tr>
                    <th style="width: 20%">新闻类型</th>
                    <th style="width: 20%">新闻编号</th>
                    <th style="width: 20%">在菜单显示</th>
                    <th style="width: 20%">排序顺序</th>
                    <th style="width: 10%">操作</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td>@item.TypeName</td>
                        <td>@item.TypeCode</td>
                        <td>@item.ShowMenu</td>
                        <td>@item.SortOrder</td>
                        <td style="text-align: center">
                            <a href="javascript:void(0);" url="@Href("~/admin/NewsType/edit/")@item.Id" class="btn btn-primary btn-mini editflag">修改</a>
                            <a href="javascript:void(0);" url="~/admin/NewsType/Delete/@item.Id" class="btn btn-danger btn-mini deleteflag">删除</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="badoopager" class="span12" style="margin: 0; padding: 0;color: #666">
    <div style="float:left; ">当前显示第 @Model.CurrentPageIndex 页，共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录</div>
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "id", CurrentPagerItemTemplate = "<span class=\"current\">{0}</span>", DisabledPagerItemTemplate = "<span class=\"disabled\">{0}</span>", Id = "pager" }, new MvcAjaxOptions { UpdateTargetId = "AjaxPagerPangel", HttpMethod = "Post", DataFormId = "searchForm" })
</div>
